@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;800;900&display=swap');
body {
    font-family: "Lato", sans-serif;
    color: #6f6f6f;
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    list-style: none;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: rgba(14, 15, 20, 0.322);
    color: #fff;
    width: 100%;
    z-index: 2;
    transition: all 0.2s;
}
.sticky {
    padding: 10px;
   
    background-color: rgb(14, 15, 20);
}

.header--logo img {
    width: 50px;
    
}
.sticky--logo {
    width: 70px;
}

.header__navbar--link {
    margin-right: 30px;
    transition: all 0.3s;
    padding: 10px;
}

.header__navbar--link:hover {
    color: #555;
    border-bottom: 4px solid #ffcc33;
}

.banner {
    background-image: url('../asset/img/01.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #f5f5f5;
}

.banner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    text-align: center;
}

.banner--title {
    color: #ffcc33;
    font-size: 36px;
    font-weight: 900;
}

.banner--subtitle {
    font-size: 18px;
}

.banner--link {
    font-size: 22px;
    padding: 10px 0;
    transition: border 0.5s;
    border-bottom: 2px solid transparent;
}

.banner--link:hover {
    border-bottom: 2px solid #ffcc33;
}

.banner--arrow {
    position: absolute;
    bottom: 40px;
    
}
.banner--arrow:hover {
   
    
}
.banner--arrow i {
    font-size: 74px;
}
.banner--arrow i:hover {
    text-shadow: 0px 4px 9px rgba(189, 188, 188, 0.623);
    transform: translateY(-5px);
}


.main__header {
    background-color: rgb(14, 15, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 70px 20px;
    text-align: center;
}

.main__header--logo {
    width: 200px;
    margin-bottom: 34px;
}

.main__header--p {
    max-width: 1000px;
    font-size: 20px;
    line-height: 28px;
}

.main__service {
    margin-top: 50px;
}

.main__section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main__section__header--title {
    font-weight: 200;
    font-size: 28px;
}

.main__section__header--title span {
    font-weight: bold;
    color: #ffcc33;
}

.separe {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    max-width: 800px;
}

.separe--line {
    height: 1px;
    flex-grow: 1;
    background-color: #f1f1f1;
}

.fancy {
    width: 50px;
    height: 50px;
    background-color: #ffcc33;
    border-radius: 5px 50% 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.fancy img {
    width: 45px;
}

.main__service__content--wrapper {
    display: flex;
    justify-content: center;
}

.main__service__content--text {}

.main__service__content--text h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.main__service__content--text p {
    font-size: 14px;
}

.main__service__content {
    display: flex;
    padding: 20px;
}

.right {
    justify-content: flex-end;
    text-align: right;
}

.left .main__service__content--logo {
    border-radius: 50% 5px 50% 50%;
}

.main__service__content--logo {
    min-width: 85px;
    height: 85px;
    background-color: #ffcc33;
    margin: 0 20px;
    transition: background-color 0.3s;
}

.right .main__service__content--logo {
    border-radius: 5px 50% 50% 50%;
}

.left {
    justify-content: flex-start;
    text-align: left;
}

.main__service__content--logo:hover {
    background-color: #6f6f6f;
}

.main__service2__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1240px;
    margin: auto;
    padding: 20px;
    column-gap: 30px;
    row-gap: 30px;
}

.main__service2__card--wrapper {
    height: 220px;
    overflow: hidden;
    position: relative;
}

.main__service2__card--wrapper:hover .card--front {
    transform: rotateY(180deg);
}

.main__service2__card--wrapper:hover .card--back {
    transform: rotateY(0deg);
    opacity: 1;
}

.main__service2__card {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.card--front {
    background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
}

.card--back {
    position: absolute;
    backface-visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
    background-color: #6f6f6f;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.main__creative__content {
    padding: 50px 0;
    background-color: rgba(14, 15, 20, 0.918);
    height: 95vh;
    margin: 20px 0;
    display: flex;
    align-items: center;
  
}
.main__creative__swiper{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__creative__slide {

}


.creative__swiper--button {
    background-color: rgba(14, 15, 20, 0.274);
    color: #fff;
    padding: 50px;
    
    top: calc(50% - 25px)
}
.creative__swiper--button::after {
    font-size: 56px;
}

.main__creative__content img {
    height: 100%;
    max-width: 100%;;
    object-fit: cover;
    transition: all 0.5s;
}
.main__tarif {
    padding: 40px 0;;
}
.main__tarif__cards {
    padding: 20px;
    display: grid;
    max-width: 80%;
    margin: 40px auto;
    grid-template-columns: 1fr 1fr 1fr
}

.main__tarif__card {
    border: 1px solid #000;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.main__tarif__card:nth-child(2) {
    transform: scale(1.15);
    border-color: #ffcc33;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.31);
}

.main__tarif__card:nth-child(2) .main__tarif__card--title {
    background-color: #ffcc33;
}

.main__tarif__card:nth-child(2) div {
    border-color: #ffcc33;
}

.main__tarif__card--title {
    padding: 20px;
    color: #fff;
    background-color: rgb(14, 15, 20);
    border-bottom: 1px solid #000;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__tarif__card--price {
    border-bottom: 1px solid #000;
    padding: 40px 20px;
    font-size: 32px;
}

.main__tarif__card--content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main__tarif__card--content span {
    margin: 10px;
}

.main__tarif__card--content a {
    margin: 15px;
}

.main__about {
    margin: 40px 0;
}

.main__about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    place-content: center;
    padding: 40px;
}

.main__about__content__banner {
    position: relative;
}

.main__about__content__banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__about__content__banner h3 {
    position: absolute;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    top: 40px;
    left: 40px;
    padding: 40px;
    color: rgb(211, 211, 211);
    background-color: rgba(0, 0, 0, 0.253);
}

.main__about__content__text {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    line-height: 22px;
}

.main__about__content__text h4 {
    padding: 10px;
    font-size: 20px;
}

.main__about__content__text p {
    margin: 10px 0;
}

.main__about__content__text a {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.main__about__counters {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 40px;
}

.main__about__counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-left: 1px solid #d3d3d3;
    cursor: pointer;
    text-align: center;
}

.main__about__counter:hover {
    background-color: #ffcc33;
    color: #fff;
}

.main__about__counter:hover i {
    color: #fff;
}

.main__about__counter:last-child {
    border-right: 1px solid #d3d3d3;
}

.main__about__counter i {
    font-size: 36px;
    color: #ffcc33;
}

.main__about__counter span {
    margin: 10px 0;
    font-size: 18px;
}

.main__partenaire__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1024px;
    margin: 30px auto;
    gap: 40px;
    place-items: center;
}

.main__equipe__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    column-gap: 80px;
}

.main__equipe__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__equipe__card__banner {
    position: relative;
    overflow: hidden;
}

.main__equipe__card__bannerWrapperText {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translateX(100%);
    height: 30%;
    visibility: hidden;
    transition: all 0.5s;
}

.main__equipe__card__banner:hover .main__equipe__card__bannerWrapperText {
    transform: translateX(0);
    visibility: visible;
}
.main__equipe__card__banner img {
    width: 100%;
}

.main__equipe__card__banner p {
    color: #fff;
    padding: 20px;
}

.main__equipe__card__info {
    text-align: center;
}

.main__equipe__card__info ul {
    display: flex;
    justify-content: space-around;
    column-gap: 15px;
    margin: 15px 0;
}

.main__equipe__card__info li {
    background-color: #ffcc33;
    
    color: #fff;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
}

.main__contact__content {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
}
.main__contact__info {
   
    
}
.main__contact__info--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
    width: 400px;
    margin: auto;
}
.contact__info__container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    
}
.contact__info__container:nth-child(2) {
    align-self: flex-end;
}
.contact__info__logo {
    width: 85px;
    height: 85px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcc33;
    color: #fff;
    font-size: 28px;
    border-radius: 5px 50% 50% 50%;
    margin: 0 20px;
    transition: background-color 0.3s;
}
.contact__info__logo:hover {
    background-color: #6f6f6f;
}
.info__logo2 {
    border-radius:  50% 5px 50% 50%;
}
.main__contact__form {
    display: flex;
    text-align: center;
    flex-direction: column;
    
}
.main__contact__form form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    flex: 1;
    gap: 15px;
}

.main__contact__form input {
    padding: 15px;
    border-radius: 5px;
    background-color: #ebebeb;
}

.main__contact__form textarea {
    height: 250px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ebebeb;
}
.btn {
    background-color: #ffcc33!important;
    
    color: #fff;
    border-radius: 5px;
}
.footer {
    background-color: #ffcc33;
    color: #fff;
    padding: 30px;
    display: grid;
    place-content: center;
}

.footer ul {
    display: flex;
    justify-content: space-around;
    column-gap: 24px;
    font-size: 24px;
}




.swiper-container {}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: all 0.2s;
}

.swiper-slide-active {
   overflow:initial;
    
}
.swiper-button-prev {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.418);
}

@media only screen and (max-width: 1240px) {
    .main__service__content--wrapper {
        display: block;
    }
    .main__service2__cards {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 1024px) {
    .main__contact__content{
        grid-template-columns: 1fr;
        gap: 40px;
    }
}